*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Lora, Roboto, Arial, Arial, Helvetica, sans-serif;
}
/* smallest screen size - 360px  ruling below*/

button {   /* this ruling to apply to every button unless overwritten*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 4em;
  background: rgb(71 21 21);
  color: #8dc2da;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  transition: all 0.39s;
}

/*--------------------------------------------------------------Navbar section-----------------------------------------------------------------------*/
.navbar{
  background-color: #67adcdbf;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999; /* this ruling makes it so that the nav bar is always on top of every part of page*/
}

.navbar_container{
  display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#navbar_logo{
  background-color: black;
  background-image: linear-gradient(to top, #3c2002 0%, #eff0f6 100%);
  background: size 100%;
  -webkit-background-clip:text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color:transparent;
  -moz-text-fill-color:transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
}

.fa-gem{  /* for the krown on the nav logo*/
  margin-right: 0.5rem;
}

.navbar_menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item{
  height: 80px;
}

.navbar_links {
  color: rgb(71 21 21);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-weight: bold;
  font-size: 112%;
}


.nav_button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  outline: none;
  border-radius: 35px;
  background: rgb(71 21 21);
  color: #8dc2da;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.39s;
  font-size: .7em;
}
  
button:hover{
  background-color: rgb(107, 90, 63);
  transition: all 0.4s ease;
}

.navbar_links:hover{
  color:rgb(78, 56, 20);
  transition: all 0.4s ease;
}

.navbar_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero/main page ruling starts here*/

div.main_content{
  text-align: center;
  position: absolute;
  color: white;
  z-index: 1;
  width: 100%;
}

.main_container{
  display: grid;
  justify-self: center;
  z-index: 1;

}

.main_content h1 {
  font-size: 3.5rem;
  font-family: Lucida Bright,Georgia,serif;
  text-shadow: 2px 2px #3c2002;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.main_content h2 {
  background-image: linear-gradient(to top, #3c2002 0%, #eff0f6 100%);
  background-size: 100%;
  font-size: 76%;
}

.main_content p{
  font-size: 1.9rem;
  font-weight: bolder;
  text-shadow: 2px 2px rgb(124 175 194 / 67%);;
  color: rgb(71 21 21);;
  text-align: center;
  padding-top: 12.81rem;
  display: block;
}

.main_btn{
  background-color: #67adcded;
  margin: auto;
}

.main_btn a{
  z-index: 2;
  text-decoration: none;
  font-size: .91rem;
  font-weight: bolder;
  color: rgb(71 21 21);
}

.main_btn:hover{
  color: rgb(203, 225, 247);
}

.main_btn:hover::after{
  width:100%;
}

#main_img{
  background-color: #bcb3a0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 23em;
}


/* ---------------------------------------------------- Hairstyle section---------------------------------------------------------------------*/
.hairstyle{
  z-index: 1;
}

.hairstyle h2{
  font-size: 3.5rem;
  color: rgb(71 21 21);
  padding: 0.5em 0 0.3em;
  text-shadow: 6px 0 0 #ccc;
}

.hairstyle p{
  text-align: center;
  font-size: 1.35em;
  font-weight: 700;
  padding: 0 1em 1em;
  color: #7f7767;
  line-height: 1em;
}

/* ruling to the three images with the boxes*/
.style {
  display: block;
  margin-right: auto;
  width: 72%;
}

.row {
  align-items: center;
  font-style: italic;
  /* display: block; */
  margin-left: auto;
  /* margin-right: auto; */
  width: 70%;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 46%);
  background-color:#e8e5df;
  border-radius: 0 2em 0 2em;
}

.card h3{
  text-align: center;
  font-size: 1.3em;
  color: rgb(107 90 63);
}

.column {
  /*float: left;*/
  padding: 0 2px;
}

div .card img{
  max-width: 100%;
  border-radius: 0 2em;
}

div .card:hover{ /*hover zoom in and out effect*/
  transform:scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

.container {
  padding: 0.5px;
  flex-wrap: wrap;
}

.container h4 {
  display: none;
}

.container summary {
  margin-top: 1em;
  font-size: .85rem;
  display:inline ;
}

details {
  font-size: 0.7em;
  text-align: center;
}

p.title {
  font-size: 1em;
  margin-top: 0.5rem;
  color: #0e0d11;
  background-color: #bcb3a057;
  font-weight: 100;
  border: solid 2px #ccc;
}

.hairstyle h5 {
  font-size: .65em;
  text-align: center;
}

.hairstyle button {
  width: 6em;
  height: 3em;
  margin-bottom: 1em;
}

.hairstyle button a{
  z-index: 2;
  font-size: .79rem;
  color: rgb(124 175 194);
  text-decoration: none;
  padding: 0 1rem;
  font-weight: 900;
}

p.pandq_p {
  font-size: .55em;
  color: #725f4b;
}

/* --------------------------------------------------------------Feedback section ------------------------------------------------------------*/

#feedback_section {
  text-align: center;
  font-size: 2.56em;
  color: rgb(71 21 21 / 90%);
  }

.textbox{
  padding: 3em;
}

.feedback div,
form,
input,
p {
  font-size: .56rem;
    color: rgb(71 21 21);
    line-height: 1.5em;
    padding-top: 0.51em;
    text-align: justify;
  }


h2 {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

small{
  font-size: .9em;
}

.feedback h2 h4 {
  margin: 22px 0 4px;
  color: #095484;
}
.feedback .testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 3px;
}

.feedback .testbox form {
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px #ccc;
}

form h4 {
  padding-top: 2em;
}

form h3 {
  padding-top: 1em;
}

input {
  width: 100%;
  max-width: 1400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  vertical-align: middle;
  outline: none;
}

textarea {
  outline: none;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  height: 112px;
  font-family: Roboto, Arial, sans-serif;
}

.asterisk {
  color: rgb(114, 90, 90);
}

label {
  font-weight: bold;
  display: block;
  margin-top: 1em;
}

th,
td {
  width: 3%;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  vertical-align: unset;
  line-height: 15px;
  font-weight: 400;
  word-break: break-all;
  font-size: .61em;
}

.first-col {
  width: 5%;
  text-align: left;
  font-size: .7em;
}

table {
  width: 100%;
}

.btn-block {
  text-align: center;
}

.btn-block button:hover {
  background-color: #301c0c;
}

/*------------------------------------------------------------Appointment policy-----------------------------------------------------*/

div.appointment_policy h1 {
  font-size: 1.8em;
  text-align: center;
  padding: 0 0.5em;
  color: rgb(71 21 21);
  margin-top: 0.51em;
  
}

section.policy_content {
  margin: 1.5em;
  background-color: #8dc2da1c;
}

.policy_content p{
  font-size: .79em;
  background-color: #8dc2da24;
  padding: 0.91em;
  line-height: 1.3em;
  text-align: center;
  border-radius: 3em 2px;
}

.policy_content details{
  font-weight: bold;
    font-size: .85em;
    padding: 0.9em;
    color: rgb(107 90 63);
}

.policy_content details p {
  font-size: .69em;
  background-color: #8dc2da7a;
  line-height: 2em;
  font-weight: 200;
  text-align: justify;
}

.apppointment-option {
  padding-bottom: 1em;
  text-align: center;
}

.policy_button {
  font-weight: bold;
  margin: 5px 124px;
  cursor: pointer;
}

.policy_button a {
  color: #8dc2da;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  font-weight: 800;
}

.appointment-option {
  text-align: center;
}

.appointment-option p {
  text-align: center;
  font-size: .91em;
  color: rgb(124 175 194);
}

/*----------------------------------Submit response after customer has completed the feedback form------------------------*/
.thank_you h1 {
  color: #77aec4;
  font-size: 3.5em;
  text-align: center;
  width: 100%;
  padding: 57% 0;
  background-color: #725f4b54;
  height: 100vh;
  text-shadow: 2px 2px #3c2002;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}


/*-------------------------------------------------------------footer CSS----------------------------------------------------------------------*/ 
footer {
  background-color: #3c2002;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 3px;
  border-top: 11px solid #94877b;
}

.social-networks {
  text-align: end;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 1rem 0px;
  width: 100%;
}

.social-networks > li {
  display: inline;
  margin: 0 16px;
}

.social-networks i {
  font-size: 1.65em;
  color: #5a90ac;
  transition: color 0.4s ease;
}

div.footer-content {
  float: right;
}

.footer-content_list {
  display: flex;
}

.footer-content li {
  padding-right: 6px;
  display: block;
}

.footer-content a {
  color: #cfd2d6;
  text-decoration: none;
  font-size: .8em;
}

.footer-bottom {
  display: flex;
}

.footer_logo {
  background-color: black;
  background-image: linear-gradient(to top, #3c2002 0%, #eff0f6 100%);
  background: size 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: .99rem;
}

p.website_rights {
  color: #67adcd;
  font-size: 0.5em;
  padding: 0px;
  text-align: center;
}


@media screen and (max-width:992px) {/* classes to be triggered once device meets 960px for the nav bar */
  .navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px; /* navbar options to be hidden until click is activated with JS ruling*/
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }
  .navbar_menu.active{  /*JS will trigger this ruling*/
    background: #ccc;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 91vh;
    font-size: 3.3rem;
  }
  #navbar_logo{
    padding-left: 25px;
  }
  .navbar_toggle .bar{
    width: 44px;
    height: 4px;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    background: rgb(71, 21, 21);
    font-weight: bolder;
  }
  .navbar_links{
    text-align: center;
    padding: 0.9rem;
    width: 100%;
    display: table;
    font-size: 82%;
  }
  
  #mobile-menu{
    position: absolute;
    top: 24%;
    right: 16%;
    transform: translate(45%, -3%);
  }

  .navbar_toggle .bar{  /*a little bar action on the corner when device screen is smaller*/
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2){  /*ruling targeting the 2nd link of anchor 2nd child for animation  created in JS*/ 
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1){  /*ruling targeting the 1st child for animation that will be created in JS*/ 
    transform: translatey(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3){  /*ruling targeting the 3rd child for animation that will be created in JS*/ 
    transform: translatey(-8px) rotate(-45deg);
  }
}

@media screen and (min-width: 576px){
  
  img#main_img {
    height: 35em;
  }

  .main_content h1 {
    font-size: 6.5rem;
  }
  .main_content h2 {
    font-size: 122%;
  }
  .main_content p {
    font-size: 3rem;
    padding-top:18rem;
    display: block;
  }

  button.main_btn {
    margin: 1rem auto;
  }

  /* Hairstyle 576px screen display size */

  .hairstyle h2{
    font-size: 4.55rem;
    padding: 0.1em 0 0.2em;
  }

  .hairstyle p {
    font-size: 1.4em;
    padding: 0 1em 1em;
    line-height: 1em;
  }

  p.pandq_p{
    font-style: italic;
    padding: 1em;
    font-size: 1rem;
  }

  .style {
    height: 34vh;
    display: block;
    margin: auto;
    width: 89%;
  }

  .card h3 {
    font-size: 1em;
  }

  .container {
    flex-wrap: wrap;
    font-size: 0.49em;
    padding: 3em;
    margin-left: -3em;
  }

.hairstyle .card{
    float: left;
    width: 91.33%;
    padding: 1px;
  }

  .hairstyle .row .card img{
    height: 194px;
  }

  .hairstyle .card summary{
    top: 135px;
    font-weight: bold;
    color: #fff;
  }

  .container summary {
    font-size: 2em;
  }

  .row {
    font-style: italic;
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  
  /* Feedback 576px screen size */
  .btn-block {
    padding: 1em 16%;
  }

  /* Appointment policy 576px screen size */

  .appointment_policy h1{
    font-size: 2.9em;
    text-align: center;
    margin-top: 1em;
  }

  .policy_content p {
    font-size: .99em;
  }

  .appointment-option p {
    font-size: 1.3em;
  }

  .policy_button {
    margin: 1em 17em;
  }

  .policy_content details {
    font-size: .95em;
  }

  .policy_button {
    margin: 1.1em 18em 2em;
  }

}

@media screen and (min-width: 768px){
  .main_content h1 {
    font-size: 7.99rem;
  }

  .main_content h2 {
    font-size: 1.7em;
  }

  .main_content p {
    padding-top: 5em;
  }

  .main_btn a {
    font-size: 1.55rem;
  }


  /* Hairstyle section 768px screen*/

  .hairstyle{
  margin-top: 0;
  }

  .hairstyle p {
    font-size: 1.55em;
    line-height: 1em;
  }

  .hairstyle h2 {
    font-size: 4.5rem;
    padding: 0.3em 0 0.1em;
  }

.container h4{
    display: contents;
    font-size: 1.45em;
  }


  .container {
    padding: 0.5px;
    font-size: .5em;
    padding: 2em;
    margin-left: -21px;
  }

  .hairstyle button {
    width: 75px;
    border-radius: 23px;
  }

  .row div p{
    font-size: 1.5em;
  }

  .card h3 {
    font-size: 1.3em;
    margin-top: 0.1em;
  }

  .hairstyle .row .card img {
    width: 100%;
  }

  p.pandq_p {
    font-size: .7em;
  }

  /*Feedback section 768px screen*/
  .btn-block {
    padding: 0 24%;
  }

  /* Appointment policy*/
  .policy_button {
    margin: 1.1em 24em 2em;
  }

  .appointment_policy h1 {
    font-size: 3em;
    margin-top: 0.41em;
  }

}


@media screen and (min-width: 992px){
  .main_content p {
    font-size: 3.99em;
    padding-top: 4.5em;
  }

  .main_btn {
    margin: 1.4em 31em 0;
  }

  /* Hairstyle  992px screen */
  .hairstyle .card {
    width: 91.33%;
    padding: 5px;
  }

  .hairstyle .row .card img {
    height: 30vh;
  }

  .container h4 {
    font-size: 15.35px;
  }
  .row div p {
    font-size: .71rem;
  }

  .hairstyle h5 {
    font-size: .75em;
  }

  p.pandq_p{
    font-size: 1.25em;
  
  }

  /* Feedback 992px screens*/
  .feedback div, form, input, p {
    font-size: 1.1em;
    color: rgb(71 21 21);
    line-height: 26px;
    padding-top: 3px;
  }

  .first-col {
    width: 4%;
    font-size: 1em;
    line-height: 1;
  }

  th, td {
    width: 3%;
    padding: 8px 0;
    font-size: .99em;
  }

  .btn-block button {
    font-size: 1em;
  }

  /* Policy section for 992px screen device */
  div.appointment_policy h1 {
    font-size: 4em;
  }

  .policy_content p {
    font-size: 1.5em;
  }

  .policy_content details {
    font-size: 1.6em;
  }

  .appointment-option p {
    font-size: 2.3em;
  }

  .policy_button {
    margin: 1.5em 32em 2em;
  }

  .policy_button a{
    font-size: 1.5rem;
  }

}

@media screen and (min-width: 1200px){
  .navbar{
    font-size: 1.4rem;
  }
 
  .main_content h1 {
    font-size: 11.5rem;
  }
  .main_content h2 {
    font-size: 2.45em;
  }
  .half2 {
    font-size: 90%;
  }

  button.main_btn {
    margin: 2rem auto;
  }

  .main_btn a {
    font-size: 3.2rem;
  }
  .main_content p {
<<<<<<< HEAD
    padding-top: 6.7em;
    font-size: 5.5em;
  }

  img#main_img {
    height: 57em;
=======
    padding-top: 6.35em;
  }

  img#main_img {
    height: 49em;
>>>>>>> 94494f13513c620b97f3fcc0b2328e524a824c0b
  }

  /* Hairstyle section */
  .hairstyle h2 {
    font-size: 6.55rem;
    padding: 0.8em;
  }
  .hairstyle p {
    font-size: 2.34em;
    padding: 0 0 1em;
  }

  .container h4 {
    font-size: 2.34em;
  }
  .container summary {
    font-size: 15px;
    margin-top: 2em;
  }

  .hairstyle button {
    margin: 16px 129px;
  }
  p.pandq_p {
<<<<<<< HEAD
    font-size: 1.9rem;
    padding-top: 2em;
=======
    font-size: 1rem;
    padding-top: 12em;
>>>>>>> 94494f13513c620b97f3fcc0b2328e524a824c0b
  }

  /* Appointment Policy*/
  .policy_button{
    margin: 2.1em 40em 2em;
  }

  .policy_button a{
    font-size: 1.5rem;
  }

  .appointment_policy h1 {
    font-size: 3.9em;
    margin-top: 0.41em;
  }

  .policy_content p {
    font-size: 1.89em;
  }

  .policy_content details {
    font-size: 1.5rem;
  }

  .appointment-option p {
    font-size: 2.8rem;
  }


}


